@import url("https://use.typekit.net/sfd8pac.css");

:root{

    --bg-color:#d95450;
    --transparent-color:#DD6662;
    --hover-color:#bc5753;
    --bg-contrast: #c74E49;


    --primary-font: 'houschka-rounded', sans-serif;
    --secondary-font: Arial, sans-serif;

    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
}

ul{
    padding: 0;
    margin:0;
}

body{
    padding: 0;
    margin: 0;
}

.firstdiv{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 10vh 90vh;
    background-color: var(--bg-color);
}

.redBackground, header, 
.timerContainer{
    grid-column: 2;
}

.textContainer, footer{
    grid-column: 2;
}


/*Navigation*/

header nav ul{
    display: flex;
gap: 1rem;
border-bottom: 2px solid var(--hover-color);

}


header nav ul li:first-child {
    margin-right: auto;
  }

header ul{
    list-style: none;
    padding: 1rem;
}


.navBox{
    background-color:var(--transparent-color);
    padding:0.5rem 0.5rem 0.5rem 0.5rem ;
    border-radius: 0.5rem;
}

.logo{
    text-decoration: none;
    font-family:var(--primary-font);
    font-weight: bold;
    font-size: 1rem;
    color: white;
    opacity: 100%; 
}
.aLink{
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: var(--fs-xs);
    font-weight: bold;
    color: #f6dcda;
    opacity: 100%;  
}


/*Timer*/


/*Timer Navigation*/
.timerUl ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.timerUl li:first-child{
    background-color: var(--hover-color);
    padding: 0.2rem;
    border-radius: 0.3rem;
}
.timerUl li:first-child a{
    font-weight: bold;
}


.timerUl li{
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.timerLink:hover{
    background-color: var(--hover-color);
    border-radius: 0.3rem;
}

.timerLink{
    text-decoration: none;
    font-family: var(--primary-font);
    padding: 0.2rem;
    font-weight:normal;
    font-size: 1rem;
    color: white;
    opacity: 100%; 
}

.timerFont{
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: white;
}

/*TimerBox*/

.timerContainer{
    grid-column: 2;
    grid-row: 2;
    padding-top: 2rem;
    width:80%;
    justify-self: center;
}

.timerBox{
    background-color:var(--transparent-color);
    padding: 2rem;
    border-radius: 0.3rem;
    justify-self: center;
}

/*Time*/

.time h1{
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: white;
}

/*Timerbox Button*/

.startButton{
    display: flex;
    justify-content: center;
}

.startButton button{
    background-color: white;
    color: var(--transparent-color);
    height: 3.5rem;
    border: none;
    box-shadow: 1px 4px 0px #EBEBEB;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    font-style: round;
    border-radius: 0.3rem;
    padding: 0rem 3rem 0rem 3rem;
}

.startButton button:hover{
    cursor: pointer;
}


/*Add Task Box*/
.taskBox{
    padding-top: 1rem;
    width: 100%;
}
.taskBox button{
    padding: 1rem;
width: 100%;
background-color: var(--bg-contrast);
border: 3px dashed var(--transparent-color);
border-radius: 0.5rem;
height: 4rem;
}

.taskBox button{
    font-family: var(--primary-font);
    font-size: #efc3c2;
    font-weight: bold;
    color: #EBEBEB;
}

/*Endorsing Text*/

.endorsingText h4,
.endorsingText h5{
text-align: center;
font-family: var(--secondary-font);
}

.endorsingText h4{
    font-size: var(--fs-s);
    padding: 1rem;
    margin: 0;
    color: #EBEBEB;
    font-weight: lighter;
}

.endorsingText h5{
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    color: white;
}

/*Add Task List*/
.taskNav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
    padding: 0.5rem;
}

.taskNav li a{
    text-decoration: none;
font-family: var(--primary-font);
color: white;
font-weight: 600;
}

.taskNav ul li:first-child{
    margin-right: auto;
    font-size: var(--fs-m);
}

.taskNav ul li:nth-child(2){
    background-color: var(--transparent-color);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

/*Text*/

.seconddiv{
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 1fr 1fr;
}