@import url("https://use.typekit.net/sfd8pac.css");
@import url("https://use.typekit.net/sfd8pac.css");
:root{

    --bg-color:#d95450;
    --transparent-color:#DD6662;
    --hover-color:#bc5753;
    --bg-contrast: #c74E49;
    --textcontainer-font-color: #5B2528;
    --text-containter-fc: #6B5A5B;


    --primary-font: 'houschka-rounded', sans-serif;
    --secondary-font: Arial, sans-serif;
    --ter-font: 'unit-rounded', sans-serif;


    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
}

ul{
    padding: 0;
    margin:0;
}

body{
    padding: 0;
    margin: 0;
}

h4{
    margin: 0;
    padding: 0;
}

.firstdiv{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 1fr auto;
    background-color: var(--bg-color);
}




.redBackground, header, 
.timerContainer{
    grid-column: 2;
}

.textContainer, footer{
    grid-column: 2;
}


/*Navigation*/

header nav ul{
    display: flex;
gap: 1rem;
border-bottom: 2px solid var(--hover-color);

}


header nav ul li:first-child {
    margin-right: auto;
  }

header ul{
    list-style: none;
    padding: 0.3rem;
}


.navBox{
    background-color:var(--transparent-color);
    padding:0.5rem 0.5rem 0.5rem 0.5rem ;
    border-radius: 0.5rem;
}

.logo{
    text-decoration: none;
    font-family:var(--primary-font);
    font-weight: bold;
    font-size: var(--fs-m);
    color: white;
    opacity: 100%; 
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.aLink{
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: var(--fs-xs);
    font-weight: bold;
    color: #f6dcda;
    opacity: 100%;  
}


/*Timer*/


/*Timer Navigation*/
.timerUl ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
}

.timerUl li:first-child{
    background-color: var(--hover-color);
    padding: 0.2rem;
    border-radius: 0.3rem;
}
.timerUl li:first-child a{
    font-weight: bold;
}


.timerUl li{
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.timerLink:hover{
    background-color: var(--hover-color);
    border-radius: 0.3rem;
}

.timerLink{
    text-decoration: none;
    font-family: var(--primary-font);
    padding: 0.2rem;
    font-weight:normal;
    font-size: 1rem;
    color: white;
    opacity: 100%; 
}

.timerFont{
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: white;
}

/*TimerBox*/

.timerContainer{
    grid-column: 2;
    grid-row: 2;
    padding-top: 2rem;
    width:80%;
    justify-self: center;
}

.timerBox{
    background-color:var(--transparent-color);
    padding: 2rem;
    border-radius: 0.3rem;
    justify-self: center;
}

/*Time*/

.time h1{
    font-family: var(--primary-font);
    font-size: 6rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
    color: white;
}

/*Timerbox Button*/

.startButton{
    display: flex;
    justify-content: center;
}

.startButton button{
    background-color: white;
    color: var(--transparent-color);
    height: 3.5rem;
    border: none;
    box-shadow: 1px 4px 0px #EBEBEB;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 600;
    font-style: round;
    border-radius: 0.3rem;
    padding: 0rem 3rem 0rem 3rem;
}

.startButton button:hover{
    cursor: pointer;
}


/*Add Task Box*/
.taskBox{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;

}
.taskBox button{
    padding: 1rem;
width: 100%;
background-color: var(--bg-contrast);
border: 3px dashed var(--transparent-color);
border-radius: 0.5rem;
height: 4rem;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 0.5rem;
}

.taskBox button{
    font-family: var(--primary-font);
    font-size: #efc3c2;
    font-weight: bold;
    color: #EBEBEB;
}

/*Endorsing Text*/

.endorsingText h4,
.endorsingText h5{
text-align: center;
font-family: var(--secondary-font);
}

.endorsingText h4{
    font-size: var(--fs-s);
    padding: 1rem;
    margin: 0;
    color: #EBEBEB;
    font-weight: lighter;
}

.endorsingText h5{
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    color: white;
}


/*Tasks*/
.theOnewithTheCat{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.theOnewithTheCat h4{
    font-family: var(--primary-font);
    font-size: var(--fs-s);
}

.theOnewithTheCat h4:nth-child(1){
    color: grey;
}

.theOnewithTheCat .taskButton:hover,
.theOnewithTheCat .taskButton2:hover{
cursor: pointer;
}


.theOnewithTheCat .taskButton{
    border: none;
    background-color: white;
    cursor: pointer;
}

.theOnewithTheCat .taskButton2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    background-color: white;
    border-radius: 0.3rem;
}

.milkTheCat, .codeThis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 00.3rem;
}


.milkTheCat{
    border-left: 4px solid black;
}

.firstH4{
    color: #473C3D ;
}

.milkTheCat div, .codeThis div{
    display: flex;
    gap: 0.3rem;
    align-content: center;
}

.lineThrough{
    text-decoration: line-through;
    opacity: 0.5;
}


.fontUp{
    font-size: 1.5rem;
}

/*Add Task List*/
.taskNav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
    padding: 0.5rem;
}

.taskNav li a{
    text-decoration: none;
font-family: var(--primary-font);
color: white;
font-weight: 600;
}

.taskNav ul li:first-child{
    margin-right: auto;
    font-size: var(--fs-m);
}

.taskNav ul li:nth-child(2){
    background-color: var(--transparent-color);
    padding: 0.5rem;
    border-radius: 0.3rem;
}


.finishedTasks{
    border-top: 0.5px solid white;
    background-color: var(--transparent-color);
    margin-bottom: 1rem;
}

.finishedTasks ul{
    list-style:none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.finishedTasks ul li{
    font-family: var(--primary-font);
    color: white;
    font-weight: bold;
}

.finishedTasks ul li span{
    opacity: 0.5;
    font-weight: normal;
}

/*Text*/

.seconddiv{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    grid-template-rows: 1fr 10vh;
}

.textContainer{
    grid-column: 2;
    padding: 1rem 3rem 1rem 3rem;
}

.textContainer h1{
    font-family: var(--ter-font);
    color: var(--textcontainer-font-color);
    font-size: var(--fs-l);
    letter-spacing: 0.01rem;
}


.textContainer h2{
    font-family: var(--ter-font);
    color: var(--textcontainer-font-color);
    font-size: 1.8rem;
    letter-spacing: 0.01rem;
}

.textContainer h2::after{
    content: '';
    display: block;
    width: 24px;
    padding-top: 8px;
    border-bottom: 4px solid #f05b56;
    opacity: 0.6;
}

.textContainer p{
    font-family: var(--ter-font);
    color: var(--text-containter-fc);
    font-size: 1.2rem;
}

.textContainer p span{
    color: #DD6662;
    font-weight: bold;
}

/*List Styling*/
.textContainer .discList li{
    font-family: var(--ter-font);
    color: var(--text-containter-fc);
    font-size: var(--fs-s);
    list-style-type: disc;
}

.textContainer .discList li::marker,
.textContainer .discList2 li::marker{
    color: #DD6662;

}

.discList2Link{
color: #DD6662;
}

.textContainer .discList span{
    font-weight: bold;
}

.textContainer .numberList span{
    /*Color should be darker*/
    font-weight: bold;
}
.textContainer ol li{
    font-family: var(--ter-font);
    color: var(--text-containter-fc);
    font-size: var(--fs-s);
}

.discList2{
    list-style-type: disc;
}

.discList2 .parentesis{
    font-weight: lighter;
}

.discList2 a:link{
    text-decoration: none;
    color:#DD6662; ;
    font-weight: bold;
}


@media screen and (max-width:1200px) {
    .firstdiv{
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
        grid-template-rows: 1fr auto;
        background-color: var(--bg-color);
    }
    

}

@media screen and (max-width:1100px) {
    .firstdiv{
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
        grid-template-rows: 1fr auto;
        background-color: var(--bg-color);
    }
    
    .time h1{
        font-size: 4rem;
    }
}

@media screen and (max-width:950px) {
.timerLink{
    font-size: var(--fs-s);
}

.firstdiv{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 1fr auto;
    background-color: var(--bg-color);
}

.seconddiv{
    display: grid;
    grid-template-columns: 1fr 70% 1fr;}

}

@media screen and (max-width:950px){
    .firstdiv{
        display: grid;
        grid-template-columns:  1fr 70% 1fr;
        grid-template-rows: 1fr auto;
        background-color: var(--bg-color);
        padding: 0;
    }


    .seconddiv{
        display: grid;
        grid-template-columns: 1fr 70% 1fr;}

    .timerLink{
        font-size: var(--fs-s);
    }

    .timerBox{
        padding: auto;
    }
       
    .time h1{
        font-size: 3rem;
    }

}


@media screen and (max-width:650px){
    .firstdiv{
        display: grid;
        grid-template-columns: 1fr 95% 1fr;
        grid-template-rows: 1fr auto;
        background-color: var(--bg-color);
        padding: 0;
    }
    header nav ul{
    gap: 0.5rem;
    border-bottom: 2px solid var(--hover-color);
    }

.aLink{
    font-size: var(--fs-xs);
}

.timerUl ul{
    gap: 0.3rem;
}

    .timerLink{
        font-size: var(--fs-xs);
    }

    .timerBox{
        padding: 1rem;
    }
       
    .time h1{
        font-size: 2.3rem;
    }

    .seconddiv{
        display: grid;
        grid-template-columns: 1fr 95% 1fr;}

        .textContainer h1{
            font-size: 2rem;
        }
}

@media screen and (max-width:450px){


    .logo{
        font-size: var(--fs-s);
    }

    header nav ul{
        gap: 0.5rem;
        border-bottom: 2px solid var(--hover-color);
        justify-items: center;
        align-items: center;

        }

    .aLink svg{
      display: none;
    }

    .logo h4{
        display:none;
    }

        .textContainer h1{
            font-family: var(--ter-font);
            color: var(--textcontainer-font-color);
            font-size: var(--fs-m);
            letter-spacing: 0.01rem;
        }
        
        
        .textContainer h2{
            font-family: var(--ter-font);
            color: var(--textcontainer-font-color);
            font-size: 1.2rem;
            letter-spacing: 0.01rem;
        }

        .textContainer p{
            font-size: var(--fs-s);
        }
        .endorsingText h4 {
            font-size: var(--fs-xs);
        }

.endorsingText h5{
font-size: var(--fs-s);}

.taskNav li a{
    font-size: var(--fs-s);
}

.taskNav ul li:nth-child(2){
    padding: 0.3rem;
}

.finishedTasks ul li{
font-size: var(--fs-s);
}

.finishedTasks ul li span{
font-size: var(--fs-s);
}


}